:host {
  display: flex;
  justify-content: center;
}

mat-card {
  padding-bottom: 0px;
  width: 540px;
}

.players-container {
  max-height: 450px;
  margin-bottom: 24px;
  padding-right: 8px;
  overflow: auto;

  & mat-form-field {
    flex: 1;
  }
}

.form-field-container {
  display: flex;
  align-items: flex-start;
}

.emoji {
  font-size: 20px;
  user-select: none;
  cursor: pointer;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
