<div class="mb-2">
  <ng-container *ngIf="started; else startButton">
    <ng-container *ngIf="finished; else running">
      <button mat-raised-button color="primary" (click)="restart()">Starta om</button>
    </ng-container>

    <ng-template #running>
      <ng-container *ngIf="pause$ | async; else pausButton">
        <button mat-raised-button color="primary" (click)="resume()">Dansa</button>
      </ng-container>

      <ng-template #pausButton>
        <button mat-raised-button color="primary" (click)="pause()">Pausa</button>
      </ng-template>
    </ng-template>
  </ng-container>

  <ng-template #startButton>
    <button mat-raised-button color="primary" (click)="start()">Starta</button>
  </ng-template>
</div>

<div class="game-container">
  <div class="section mr-2">
    <mat-card>
      <mat-card-subtitle>Spelare</mat-card-subtitle>
      <div class="player-container">
        <ng-container *ngFor="let player of sortedPlayers; let i = index">
          <div>{{ i + 1 }} {{ player.name }}</div>
          <div>HP: <strong>{{ player.hp }}</strong></div>
        </ng-container>
      </div>
    </mat-card>
  </div>

  <div class="section">
    <mat-card>
      <mat-card-subtitle>Logg</mat-card-subtitle>
      <div *ngFor="let round of rounds.slice().reverse()" class="round">
        <div class="round__number">Runda {{ round.number }}</div>
        <div *ngFor="let attack of round.attacks" class="attack-container">
          <div>{{ attack.playerName }} använde {{ attack.weapon | lowercase }} på {{ attack.enemyName }}</div>
          <div>
            <span *ngIf="attack.isDeathblow">💀</span>
            <span *ngIf="attack.criticalHit">💥</span>
            DMG: <strong>{{ attack.damage }}</strong>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>