<div class="mb-2">
  <app-toolbar [gameState]="gameState$ | async"></app-toolbar>
</div>

<div class="game">
  <div class="section mr-2">
    <mat-card class="mat-elevation-z8">
      <mat-card-subtitle>Spelare</mat-card-subtitle>

      <div class="leaderboard">
        <ng-container *ngFor="let player of leaderboard$ | async; let i = index">
          <div>{{ i + 1 }} {{ player.name }}</div>
          <div>HP: <strong>{{ player.hp }}</strong></div>
        </ng-container>
      </div>

    </mat-card>
  </div>

  <div class="section">
    <mat-card class="mat-elevation-z8">
      <mat-card-subtitle>Logg</mat-card-subtitle>

      <div *ngFor="let round of rounds$ | async" class="round mb-2">
        <div class="round-number">Runda {{ round.number }}</div>

        <div *ngFor="let attack of round.attacks" class="attacks">
          <ng-container *ngIf="attack.enemyName; else noEnemy">
            <div>{{ attack.playerName }} använde {{ attack.weapon | lowercase }} på {{ attack.enemyName }}</div>
            <div title="HP på {{ attack.enemyName }} efter attack: {{ attack.newEnemyHp }}">
              <span *ngIf="attack.isDeathblow">💀</span>
              <span *ngIf="attack.isCriticalHit">💥</span>
              DMG: <strong>{{ attack.damage }}</strong>
            </div>
          </ng-container>

          <ng-template #noEnemy>
            <div>{{ attack.playerName }} tittade på medans resten dog 😬</div>
          </ng-template>
        </div>
      </div>

    </mat-card>
  </div>
</div>