.game {
  display: flex;
  height: 500px;

  .section {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  mat-card {
    flex: 1;
    overflow: auto;
  }
}

.leaderboard {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
  margin-top: 24px;
  font-size: 20px;
}

.round-number {
  margin-bottom: 8px;
  font-size: 20px;
}

.attacks {
  display: flex;
  justify-content: space-between;
}
