@for $i from 0 through 4 {
  $spacing: 8px * $i;

  .m-#{$i} {
    margin: $spacing !important;
  }

  .mt-#{$i} {
    margin-top: $spacing !important;
  }

  .mr-#{$i} {
    margin-right: $spacing !important;
  }

  .mb-#{$i} {
    margin-bottom: $spacing !important;
  }

  .ml-#{$i} {
    margin-left: $spacing !important;
  }

  .p-#{$i} {
    padding: $spacing !important;
  }

  .pt-#{$i} {
    padding-top: $spacing !important;
  }

  .pr-#{$i} {
    padding-right: $spacing !important;
  }

  .pb-#{$i} {
    padding-bottom: $spacing !important;
  }

  .pl-#{$i} {
    padding-left: $spacing !important;
  }
}
