@import 'spacing';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.mat-snack-bar-container {
  max-width: none !important;

  & .mat-simple-snack-bar-content {
    padding: 8px;
    font-size: 18px;
    line-height: 1.2;
  }
}

app-history .mat-list-item-disabled {
  background-color: transparent !important;
  color: rgba(0, 0, 0, 0.87) !important;
  pointer-events: initial !important;
  cursor: default !important;
}
